div{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
input{
    flex-grow: 1;
    background-color: orange;
    max-height: 49.9px;
    border: none;
}
h2{
    flex-grow: 20;
    max-height: 49.9px;
    margin-top: 0px;
    padding: 10px;
    background-color: orange;
}