.wrapper { 
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(15, 49.9px);
    overflow: hidden;
}
.box-header{
    grid-row: 1/1;
    grid-column: 2/3;
    
    background-color: orange;
    position: relative;
}
.box-menu{
    grid-row: 1/16;
    grid-column: 1/2;
    
    background-color: orange;
    position: relative;
    border-bottom: red 2px solid;
}
.box-сontent{
    grid-row: 2/16;
    grid-column: 2/3;
   
    border-left: red 2px solid;
    border-top: red 2px solid;
    border-bottom: red 2px solid;
    position: relative;
}
