.wrapper{
    background-color: #5097d9;
    width: 100%;
    height: 698.8px;
    text-align: center;
    padding-top: 150px;
    border-bottom: red 3px solid;
}

form{
    background-color: white;
    width: 35%;
    padding: 30px 100px 30px 100px;
    border-radius: 25px;
    margin: auto;
}